<!--The content below is only a placeholder and can be replaced.-->
<label>Connecté?</label>
<input type="checkbox" [(ngModel)]="connected"/>
<p *ngIf=!connected>Utilisateur non connecté!!!</p>
<div style="text-align:center" *ngIf=connected>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <label for="id1">Nom:</label>
  <!-- <input id="id1" type="text" (input)="setName(username.value)" value="{{user.name}}" #username/> -->
  <input id="id1" type="text" [(ngModel)]="user.name"/>
  <br>
  <br>
  <label for="id2">Emploi:</label>
  <!-- <input id="id2" type="text" (input)="setJob(userjob.value)" value="{{user.JobTitle}}" #userjob/> -->
  <input id="id2" type="text" [(ngModel)]="user.JobTitle"/>
  <br>
  <br>
  <label for="id3">Image:</label>
  <!-- <input id="id3" type="text" (input)="setImage(userimage.value)" value="{{user.image}}" #userimage/> -->
  <input id="id3" type="text" [(ngModel)]="user.image"/>
  <br>
  <br>
  <label for="id4">Urgent?</label>
  <input id="id4" type="checkbox" [(ngModel)]="urgent">
  <br>
  <br>
  <div class="carte">
    <img class="img-carte" alt="image" src="{{ user.image }}">
    <!-- test style.color -->
    <!-- <div class="text-carte" [style.color]="urgent ? 'red' : 'blue'"> -->
      <!-- test ngClass -->
      <div class="text-carte" [ngClass]="urgent ? 'red' : 'blue'">
        <h2>{{ user.name }}</h2>
        <p>{{ user.JobTitle }}</p>
        <!-- test ngIf -->
        <p *ngIf=urgent>URGENT!!!</p>
      </div>
    </div>
  </div>
  