<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <label for="id1">Nom:</label>
  <input id="id1" type="text" (input)="setName(username.value)" value="{{user.name}}" #username/>
  <br>
  <br>
  <label for="id2">Emploi:</label>
  <input id="id2" type="text" (input)="setJob(userjob.value)" value="{{user.JobTitle}}" #userjob/>
  <br>
  <br>
  <label for="id3">Image:</label>
  <input id="id3" type="text" (input)="setImage(userimage.value)" value="{{user.image}}" #userimage/>
  <br>
  <br>
  <div class="carte">
    <h1>{{ user.name }}</h1>
    <h2>{{ user.JobTitle }}</h2>
    <img width="200" alt="image" src="{{ user.image }}">
  </div>
</div>
